/* .selectingType {
    filter: brightness(110%);
    box-shadow: 0px 0px 26px 24px rgba(0,52,255,0.68);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;   
} */

.typeLabelCover {
    translate: 0 -140%;
}

.container {
    height: 0px
}

.ele-text {
    font-size: 20%;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* padding: 8px 8px; */
    /* border-radius: 4px; */
}