.tab-pannel-wrapper{
    width: 50%;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.2);
    margin-left: 2%;
}

.tabs-wrapper {
    display: flex;
    justify-content: center;
}